body {
   background-color: rgb(147, 222, 197);
 }
 h1 {


 }
 .homeimg {
   z-index: 1;
  height: 150px;
  width: 400px;
}


.navbar1 {

  position: absolute;
  right: 0em;
  top: 0em;
  
  background-color: rgb(236, 236, 236);
  padding-left: 60px;
  padding-right: 20px;

  }
  

.navbar {

  

display: flex;
align-items: center;
justify-content: space-between;
font-size: 1em;
text-align: right;
text-decoration: none;

background-color: rgb(236, 236, 236);
padding-left: 1em;
padding-right: 1em;
}

a {
  color: rgb(0, 89, 64);
  text-decoration: none;
  font-weight: bold;
  font-size: 10mm;




}
a:hover {

  text-decoration: underline;
  color: rgb(165, 231, 229);
}





p {
  font-family:monospace;
  font-size: 7mm;
  line-height: 30 em;
}

.devtitle{ 
  font-style: italic;
  font-size: 2em;
  border: 2mm;
  border-style:outset;
  background-color: aliceblue;
  padding: 5mm;
  height:5mm;
}

.quote1{

  font-family:fantasy;
  font-size: 80px;


}


.aboutmetitle{
  font-style: oblique;
  font-size: 50px;
 
}

.img-about {
  border: 1mm;
  border-style:solid;
  border-color: darkgray;
  float: left;
  height: 20em; 
  width: 20em;
  padding-right: auto;

}

.img-about2 {
  border: 1mm;
  border-style:solid;
  border-color: darkgray;
  float: right;
  width: 20em;
  height: 20em;
  padding-left: auto;
  padding-right:  auto;
}
  


.img-cat {
  border: 1mm
  border-style: solid;
  border-color: darkgray;
  float: left;
  height: 20em; 
  width: 20em;
  padding-right: auto;

}

.flex1{
  width
}





.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1mm;
  background-color: white;
  padding: 1mm;
}

.grid-container > div {
  background-color: rgba(64, 90, 92, 0.8);
  text-align: center;
  padding: 5mm;
  font-size: 5mm;



  .img-grid {
    float: center;
    height: 5em; 
    width: 5em;
    
  }


 
  
  